h4, h5 {
  margin-top: 30px;
}

.myNavbar {
  background: #2c3e50;
  color: white;
}

.mySidebar {
  background: #ecf0f1;
  border-left: 1px solid #a5c0c0;
}

.myContainer {
  display: flex;
}

.main-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  margin-left: 6%;
  margin-right: 1%;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.small-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}
